extends base.pug
include mixins/char-select


block content 
    .list-header
        .screen-title 
            span #{user ? "유저정보 수정" : "유저 만들기"}
    form(method="POST")#userForm
        .user-title
            if user 
                input(type="text" name="name" value=`${user.name}` placeholder="유저이름 입력" required).form-title
            else 
                input(type="text" name="name" placeholder="유저이름 입력" required).form-title
        //- .user-password
        //-     label(for="password") 패스워드 : 
        //-     if user
        //-         input(type="password" name="password" value=`${user.password}` required).form-title
        //-     else 
        //-         input(type="password" name="password" required).form-title
        input(type="search" placeholder="캐릭명 검색").char-search
        span.char-list__title 캐릭터 목록
        ul.char-list
            each char in chars 
                if char.owner
                    li
                        .owner-exists
                            if user && (String(char.owner._id) === String(user._id))
                                input(type="checkbox" name="chars" id=`${char._id}` value=`${char._id}` checked)
                            else
                                input(type="checkbox" name="chars" id=`${char._id}` value=`${char._id}`)
                            label(for=`${char._id}`) (#{char.owner.name})#{char.name}
                        
                else
                    li
                        .owner-none
                            +char-select(char)
            else 
                span.empty__message 캐릭터가 없습니다.
        input(type="submit" name="submit" value="확인").edit-button.blue

block scripts
    script(src="/static/js/searchChar.js") 