extends base.pug
include mixins/comment

block content
    div.user-info__container
        .list-header
            .screen-title 
                span #{user.name}
        a(href=`/user/${user._id}/edit`).edit-button.red edit
        ul.char-list
            each char in user.characters 
                li 
                    a(href=`/character/${char._id}`)
                        span #{char.name}
        ul#commentContainer
            each comment in user.comments.reverse()
                li.comment 
                    a(href=`/party/${comment.party._id}`)
                        span.comment-party #{comment.party.title}
                    +comment(comment)
            else 
                span.empty__message 댓글이 없습니다.
    