mixin comment(comment)
    .comment-mixin__container
        .comment-mixin__data
            .comment-mixin__top
                .comment-info
                    span #{comment.owner.name}
                    span #{comment.createdAt.getFullYear()}. #{comment.createdAt.getMonth() + 1}. #{comment.createdAt.getDate()}.
                .comment-delete
                    a(href=`/comment/${comment.id}/delete`).delete-button X
            .comment-mixin__text
                p #{comment.text}
            
