extends ../base.pug
include ../mixins/comment

block content
    .user-info__container
        .list-header
            .screen-title 
                span #{user.name}
            .user-memo
                if user.memo
                    p #{user.memo}
                else 
                    span 메모가 없습니다.
            a(href=`/user/${user._id}/edit`).edit-button.red edit
        .user-schedule__title 캐릭터 목록
        ul.char-list
            each char in user.characters 
                li 
                    a(href=`/character/${char._id}`)
                        span #{char.name}
        .user-schedule__title 참여 파티
        ul.user-schedules
            each schedule in user.parties
                each num in [0,1,2,3,4,5,6]
                    if schedule.weekday === week[num]
                        if !((schedule.weekday === "수") && (schedule.startAt < "10:00"))
                            li(id=`weekday${num}`)
                                .schedule
                                    .schedule-info
                                        span #{schedule.weekday}
                                        span #{schedule.startAt}
                                    .schedule-title
                                        span #{schedule.title}
        ul#commentContainer.user-info__comment
            each comment in user.comments.reverse()
                li.comment 
                    a(href=`/party/${comment.party._id}`)
                        span.comment-party #{comment.party.title}
                    +comment(comment)
            else 
                span.empty__message 댓글이 없습니다.
    